<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" status="info">

	<!-- Appender :: console -->
	<appender name="STDOUT"
			  class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Appender :: file -->
	<appender name="FILE_APPENDER"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.base}/logs/online-validator.log</File>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/online-validator.%d{yyyy-MM-dd}.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
	</appender>

	<!-- Root :: level INFO, configurati appender su console e su file -->
	<root level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE_APPENDER"/>
	</root>
</configuration>