target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/OnlineValidator/.classpath
/OnlineValidator/.project
/OnlineValidator/.settings/.jsdtscope
/OnlineValidator/.settings/org.eclipse.jdt.core.prefs
/OnlineValidator/.settings/org.eclipse.m2e.core.prefs
/OnlineValidator/.settings/org.eclipse.wst.common.component
/OnlineValidator/.settings/org.eclipse.wst.common.project.facet.core.xml
/OnlineValidator/.settings/org.eclipse.wst.jsdt.ui.superType.container
/OnlineValidator/.settings/org.eclipse.wst.jsdt.ui.superType.name
/OnlineValidator/.settings/org.eclipse.wst.validation.prefs
/OnlineValidator/nb-configuration.xml
/OnlineValidator/nbproject/
/OnlineValidator/catalina.base_IS_UNDEFINED/
/OnlineValidator/nbactions.xml
