@charset "ISO-8859-1";

body {
    font-family: 'Titillium Web', serif;
    position: relative;
    min-height: 100vh;
}

#main-container {
    padding-bottom: 375px;
}

header {
    height: 75px;
    background-color: white;
    border-bottom: 1px solid #0059B3;
}

.row {
    margin: auto;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-column-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    height: 100%;
}

.header-column-container > a{
    grid-column: 1 / 2;
    grid-row: 1 / 2;

}

.header-column-container > div{
    grid-column: 2 / 5;
    grid-row: 1 / 2;

}

.header-column-container span{
    color: #0059B3;
}

.header-peppol-logo, .header-peppol-logo:hover{
    text-decoration: none;
}

.peppol-logo-style {
    max-width: 150px;
    max-height: 60px;
    min-height: 1px;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.description-container{
    border: 1px solid #0059B3;
    padding: 10px;
}

.description-container > b:first-child{
    color: #0059B3;
}

.validation-column {
    display: flex;
}

.subtitle {
    flex: 1;
    margin-bottom: 5px;
}

.file-container {
    min-height: 70px;
}

form input[type=file] {
    flex: 2;
    border: 1px solid #0059B3;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

.uploaded-file-name {
    margin: 0;
    display: inline-flex;
    text-align: left;
    align-items: center;
    width: 65%;
    height: 40px;
    color: #C5C5C5;
    border: 1px solid black;
    border-right: none;
    padding: 5px 10px 5px 10px;
}

.label-file-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 35%;
    height: 40px;
    cursor: pointer;
    background-color: #0059B3;
    color: white;
    padding: 5px 10px 5px 10px;
    outline: none;
    vertical-align: middle;
}

.label-file-selector:hover {
    background-color: white;
    color: #0059B3;
    border: 1px solid #0059B3;
}

.file-type-container {
    margin-top: 20px;
    height: 70px;
}

.entity-select {
    width: 100%;
    flex: 2;
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    outline: none;
    border: 1px solid #0059B3;
}

.file-submit-container {
    margin-top: 20px;
}

.g-recaptcha-container{
    width: 100%;
    margin-top: 9%;
}

.alert-danger{
    background-position: 20px 50%;
}

.submit-data {
    margin: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: #06c;
    color: white;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 0;
    outline: none;
    font-size: 17.5px;
}

.submit-data:hover {
    background: white;
    color: #06c;
    border: 1px solid #06c;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 325px;
    background-color: #003366;
}

.div-logo-container {
    height: auto;
    border-bottom: 1px solid white;
}

.div-logo-container > a {
    margin: 24px 0 24px 0;
    text-decoration: none;
}

.div-logo-container > a:hover{
    text-decoration: none;
    cursor: auto;
}

.div-logo-container img {
    max-width: 200px;
    max-height: 60px;
    min-height: 1px;
}

.div-logo-container img:hover, .div-logo-container span:hover{
    cursor: pointer;
}

.footer-peppol-logo-wrapper{
    width: 100%;
    cursor: pointer;
}

.footer-span-peppol-logo {
    color: white;
}

ul {
    margin: 0px;
    padding: 24px 0 0 15px;
    list-style-type: none;
}

li {
    color: white;
}

li > a {
    color: white;
    text-decoration: underline;
}

li > a:hover {
    color: gray;
}

.footer-bottom-container {
    margin-top: 24px;
    padding: 30px 0 30px 0;
    background-color: #001a33;
}

.footer-bottom-container a {
    color: white;
    font-size: 15px;
    padding-left: 15px;
    text-decoration: none;
}

.footer-bottom-container a:hover {
    color: white;
    cursor: pointer;
}

.display-none{
    display: none;
}

@media screen and (max-width: 1200px) {
    .header-peppol-logo > span {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    .header-column-container{
        grid-template-columns: 9% 9% 9% 9% 9% 9% 9% 9% 9% 9% 9%;
    }

    .title{
        font-size: 3vw;
    }

    .header-column-container > a{
        grid-column: 1 / 3;
    }

    .header-column-container > div{
        grid-column: 3 / 10;
    }



}

@media screen and (max-width: 768px) {

    .header-column-container > div{
        grid-column: 1/ 12;
    }

    .header-peppol-logo {
        display: none !important;
    }

    .title-container {
        margin-left: 16.666667%;
    }

    .title{
        font-size: 4.5vw;
    }

    #main-container {
        padding-bottom: 500px;
    }

    .footer {
        height: 450px;
    }

    .div-logo-container > a:last-child {
        -ms-flex-pack: flex-start !important;
        justify-content: flex-start !important;
    }

}

@media screen and (max-width: 576px) {
    .title-container {
        margin-left: 0;
    }

    .title{
        font-size: 6vw;
    }

    #main-container {
        padding-bottom: 600px;
    }

    .g-recaptcha{
        transform:scale(0.77);
        transform-origin:50% 50%;
    }

    .footer {
        height: 550px;
    }

    .div-logo-container > a, .div-logo-container > a:last-child {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
}