@charset "ISO-8859-1";
body{
	font-family: 'Titillium Web', serif;
}

header{
	width: 100%;
	height: 50px;
	padding: 10px 10px 10px 10px;
	background-color: #0059B3;
	justify-content: space-between;
}

.agid-logo-style{
	width: 230px;
	height: 30px;
}

.file-upload-container, .file-submit-container{
	width: 350px;
}

.file-upload-container{
	margin-top: 100px;
}

.uploaded-file-name{
	margin: 0;
	display: inline-flex;
	text-align: left;
	align-items: center;
	width: 65%;
	height: 40px;
	color: #C5C5C5;
	border: 1px solid black;
	border-right: none;
	padding: 5px 10px 5px 10px;
}

.label-file-selector{
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 0;
	width: 35%;
	height: 40px;
	cursor: pointer;
	background-color: #0059B3;
	color: white;
	padding: 5px 10px 5px 10px;
	outline: none;
	vertical-align: middle;
}

.label-file-selector:hover{
	background-color: white;
	color: #0059B3;
	border: 1px solid #0059B3;
}

.file-selector{
	position: absolute;
	z-index: -1;
	visibility: hidden;
}

.file-submit-container{
	margin-top: 20px;
}

.entity-select{
	margin: 0;
	width: 65%;
	height: 40px;
	border: 1px solid black;
	border-right: none;
	padding: 5px 10px 5px 10px;
	outline: none;
}

.submit-data{
	margin: 0;
	opacity: 0.8;
	width: 35%;
	height: 40px;
	cursor: pointer;
	background-color: #0059B3;
	color: white;
	padding: 5px 10px 5px 10px;
	border: none;
	outline: none;
}
